{{#each currentSelection}}
  <span class="wy-tag">{{data.name}}<a href="" class="wy-tag-remove" {{action "removeItem" this}}></a></span>
{{/each}}

{{#if showAutocomplete}}
<div class="wy-autocomplete-group">
  <label class="icon icon-search"></label>

  {{view "auto-complete" placeholder="Search" filter=filter value=autocompleteValue}}

  {{#if isLoading}}
    <span class="wy-spinner wy-spinner-small wy-spinner-inline"></span>
  {{/if}}

  {{#collection "autocomplete-results" content=results}}
    {{{name}}}
  {{/collection}}

</div>
{{/if}}
