<span class="current-selection">
  {{#each currentSelection}}
    <span class="wy-tag" style="cursor: move">{{itemData.name}}<a href="" class="wy-tag-remove" {{action "removeItem" this}}></a></span>
  {{/each}}
</span>

{{#if showAutocomplete}}
<div class="wy-autocomplete-group">
  <label class="icon icon-search"></label>

  {{view "auto-complete" placeholder="Search" filter=control.meta.contentTypeId value=autocompleteValue}}

  {{#if isLoading}}
    <span class="wy-spinner wy-spinner-small wy-spinner-inline"></span>
  {{/if}}

  {{#collection "autocomplete-results" content=results}}
    {{{name}}}
  {{/collection}}

</div>
{{/if}}
