{{#if isFew}}
  {{view 'sortable'
    content=currentSelection
    sortArray=control.value
    itemTemplate='widgets/relation/few'
    tagName='span'
    classNames='current-selection'
    itemTagName='span'
    itemClassNameBindings=':wy-tag content.justAdded:active'
    disabled=control.disabled
  }}
{{/if}}

{{#if isMany}}
  {{view 'sortable'
    content=currentSelection
    sortArray=control.value
    itemTemplate='widgets/relation/many'
    itemClassNameBindings='content.justAdded:active'
    disabled=control.disabled
  }}
{{/if}}

{{#if showAutocomplete}}
  <div class="wy-autocomplete-group">
    <label class="icon icon-search"></label>

    {{view "auto-complete" placeholder="Add item" filter=control.meta.contentTypeId value=autocompleteValue}}

    {{#if isLoading}}
      <span class="wy-spinner wy-spinner-small wy-spinner-inline"></span>
    {{/if}}

    {{#collection "autocomplete-results" content=results}}
      {{{name}}}
    {{/collection}}

  </div>
{{/if}}
