{{partial 'widgets/common/label'}}
<div class="wy-control">
  {{partial control.controlType.controlPartialPath}}
  {{partial 'widgets/common/help'}}
  {{#if control.locked}}Dave this control is locked.{{/if}}
</div>
