{{partial 'widgets/common/label'}}
<div class="wy-control">
  {{partial control.controlType.controlPartialPath}}
  {{partial 'widgets/common/help'}}
</div>
{{!-- we only set `doEdit` on the formbuilder --}}
<div class="disabled"></div>
