{{partial 'widgets/common/label'}}
<div class="wy-control">

  {{partial controlType.controlPartialPath}}
  {{partial 'widgets/common/help'}}

  {{#if widgetErrors}}
    <ul>
      {{#each widgetErrors}}
        <li><span class="wy-form-message">{{this}}</span></li>
      {{/each}}
    </ul>
  {{/if}}

</div>

{{!-- we only set `doEdit` on the formbuilder --}}
<div class="disabled"></div>
