{{partial 'widgets/common/label'}}
<div class="wy-control">

  {{#if view.isGridWidget}} YOU'RE IN THE GRID {{/if}}

  {{partial view.content.controlType.controlPartialPath}}

  {{partial 'widgets/common/help'}}

  {{#if view.content.widgetErrors}}
    <ul>
      {{#each view.content.widgetErrors}}
        <li><span class="wy-form-message">{{this}}</span></li>
      {{/each}}
    </ul>
  {{/if}}

</div>

{{!-- we only set `doEdit` on the formbuilder --}}
<div class="disabled"></div>
