<div class="wy-form-upload-container">
  <div class="wy-form-upload">
    <div class="wy-form-upload-content">
      <button type="button" class="btn btn-neutral icon icon-image"> Drag or select images</button>
      <div class="image-loading btn btn-info">
        <div class="wy-spinner"></div>
        <span></span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-link btn-small upload-method-toggle">or use a URL?</button>
</div>

<div class="wy-form-upload-url wy-input-prefix">
  <span class="wy-input-context">Paste URL <span class="icon icon-arrow-right"></span></span><input type="text">
  <button type="button" class="btn btn-neutral btn-small upload-url">Upload</button>
  <button type="button" class="btn btn-small btn-link upload-method-toggle wy-text-danger icon icon-remove-sign"> Cancel</button>
</div>

{{#if control.value}}
  <ul class="wy-form-gallery">
  {{#each control.value}}
    <li>
      <div class="wy-form-gallery-hover">
        {{resize-image url width="188" height="188"}}
      </div>
      {{resize-image url width="29" height="29" crop="true"}}
      {{input value=caption placeholder="caption"}}
      <span class="icon icon-remove-sign" {{action 'removeImage' this}}></span>
    </li>
  {{/each}}
  </ul>
{{/if}}
