<div class="wy-form-upload-container">
  <div class="wy-form-upload">
    {{#if initial}}
      <div class="wy-form-upload-image">
        {{resize-image initial width="75" height="75"}}
      </div>
    {{/if}}
    <div class="wy-form-upload-content">
      <button type="button" class="btn btn-neutral icon icon-image"> Drag or select image</button>
      <div class="image-loading btn btn-info">
        <div class="wy-spinner"></div>
        <span></span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-link upload-method-toggle">or use a URL?</button>
</div>

<div class="wy-form-upload-url wy-input-prefix">
  <span class="wy-input-context">Paste URL <span class="icon icon-arrow-right"></span></span><input type="text">
  <button type="button" class="btn btn-neutral btn-small upload-url">Fetch it!</button>
  <button type="button" class="btn btn-small btn-link upload-method-toggle wy-text-danger icon icon-remove-sign"> Cancel</button>
</div>

{{input type="hidden" placeholder="Or paste URL" value=control.value}}
