<div class="wy-form-upload-container">
  <div class="wy-form-upload">
    <div class="wy-form-upload-image">
      {{#if initial}}{{resize-image initial width="100" height="100"}}{{/if}}
    </div>
    <div class="wy-form-upload-content">
      <div class="image-drag">
        <span>Drag or select image</span>
      </div>
      <div class="image-desktop">
        <span>Select from desktop</span>
      </div>
      <div class="image-drop">
        <span>Drop files here</span>
      </div>
      <div class="image-loading">
        <div class="wy-spinner wy-spinner-margin"></div>
        <span></span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-link upload-method-toggle">or URL?</button>
</div>

<div class="wy-form-upload-url">
  <input type="text">
  <button type="button" class="btn upload-url">Upload</button>
  <button type="button" class="btn btn-link upload-method-toggle wy-text-danger fa fa-times-circle"> cancel</button>
</div>

{{input type="hidden" placeholder="Or paste URL" value=control.value}}
