<a class="wy-form-upload">
  {{#if control.value}}
  <div class="wy-form-upload-image">
    {{cdnconnect-image control.value maxwidth="100" maxheight="100"}}
  </div>
  {{/if}}
  <div class="wy-form-upload-content">
    <div class="image-drag">
      <p>Drag or select image</p>
    </div>
    <div class="image-desktop">
      <p>Select from desktop</p>
    </div>
    <div class="image-drop">
      <p>Drop files here</p>
    </div>
    <div class="image-loading">
      <div class="wy-spinner wy-spinner-margin"></div>
      <p>Uploading <span>0%</span></p>
    </div>
    <div class="image-error wy-alert wy-alert-danger"></div>
  </div>
</a>

{{input type="hidden" placeholder="Or paste URL" value=control.value}}
