<a class="wy-form-upload" data-upload-dropzone="example" data-upload-trigger="example">
  <div class="wy-form-upload-content">
    <div class="image-drag">
      <p>Drag or select image</p>
    </div>
    <div class="image-desktop">
      <p>Select from desktop</p>
    </div>
    <div class="wy-input-prefix"><span class="wy-input-context"><i class="icon icon-link"></i></span><input type="text" placeholder=" Or paste URL"></div>
  </div>
  <input type="hidden" data-upload data-upload-group="example">
</a>
