{{textarea placeholder=placeholder class="wh-form-markdown" value=value}}

<article class="wh-markdown-preview"></article>

<span class="icon icon-fullscreen fullscreen-toggle"></span>

<span class="icon icon-picture upload-image" {{action "toggleImageModal" target="view"}}></span>

{{webhook-modal
  show=showImageModal
  modalTemplate="widgets/common/imagemodal"
  session=session
  confirm="handleUpload"
  fakeControl=fakeImageControl
}}
