{{textarea id=id placeholder=placeholder value=value}}

<div {{bind-attr id=imageModelId}} style="display: none;">
  <section {{bind-attr id=imageModelSectionId}}>
    {{partial 'components/image-upload'}}
  </section>
  <footer>
    <button class="redactor_modal_btn redactor_btn_modal_close">Cancel</button>
    {{!-- <input type="button" class="redactor_modal_btn" value="Insert"> --}}
  </footer>
</div>
