<h2>Webhook Blog</h2>

{{#each post in posts}}
  <h3><a href="http://www.webhook.com/blog/{{unbound post.slug}}">{{post.name}}</a></h3>
  <span>{{format-time post.publish_date}}</span>
  <p>{{post.short_version}}</p>
{{/each}}
