<section class="wh-content-edit">
  <button class="btn btn-neutral fa fa-eye-open float-right"> Preview</button>
  <h1>Editing {{id}}</h1>
  <hr/>

  <form class="wy-form-stacked" {{action saveItem on="submit"}}>
    <fieldset>
      {{#each field in type.fields}}
        {{formbuilder-widget field=field}}
      {{/each}}
      <div class="wy-btn-group">
        <button type="submit" class="btn btn-neutral fa fa-check-circle"> Save</button>
      </div>
      {{#if saved}}{{saved}}{{/if}}
    </fieldset>
  </form>
</section>
