
<form class="wy-form-stacked" {{action createItem on="submit"}}>
  <fieldset>
    <legend>New {{name}}</legend>
    {{#each field in fields}}
      {{formbuilder-widget field=field}}
    {{/each}}
    <button type="submit" class="btn">Save</button>
    {{#if saved}}{{saved}}{{/if}}
  </fieldset>
</form>
