<form class="wy-form-stacked" {{action createItem on="submit"}}>
  <fieldset>
    <legend>New {{name}}</legend>
    {{#each control in controls}}
      {{formbuilder-widget control=control}}
    {{/each}}
    <button type="submit" class="btn">Save</button>
    {{#if saved}}{{saved}}{{/if}}
  </fieldset>
</form>
