{{#view 'item-form'}}
  <fieldset>
    <legend>New {{name}}</legend>
    {{#each control in controls}}
      {{#unless control.hidden}}
        {{formbuilder-widget control=control session=session}}
      {{/unless}}
    {{/each}}
    <button type="submit" class="btn">Save</button>
    {{#if saved}}{{saved}}{{/if}}
  </fieldset>
{{/view}}
