<h2>Items</h2>

<table class="wy-table full-width">
  <thead>
    <tr>
      {{#each type.fields}}
        {{#if showInCms}}
          <th>{{name}}</th>
        {{/if}}
      {{/each}}
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        {{#each cmsFields}}<td>{{this}}</td>{{/each}}
        <td><button type="button" class="btn" {{action deleteItem this}}>Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
