<div class="wy-alert wy-alert-info">
  <span class="wy-alert-title">Let's get started.</span>
  <i class="icon icon-arrow-left"></i> Start by dragging a form field from the left into this area.
</div>

<form class="wy-form-stacked">
  <fieldset>

    <!-- DOCS FOR FORM STATES CAN BE FOUND ON WYRMTEST.READTHEDOCS.COM -->
    <!-- DOCS FOR FORM STATES CAN BE FOUND ON WYRMTEST.READTHEDOCS.COM -->
    <!-- DOCS FOR FORM STATES CAN BE FOUND ON WYRMTEST.READTHEDOCS.COM -->
    <!-- DOCS FOR FORM STATES CAN BE FOUND ON WYRMTEST.READTHEDOCS.COM -->

    <!-- SHOW THIS IF FORM IS EMPTY -->
    <h2 class="wh-form-builder-title" data-toggle="tooltip" data-placement="left" title="Click to edit object title.">Title of this object</h2>

    <!-- TEXT -->
    <div class="wy-control-group wy-control-group-required" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="title">Text</label>
      <div class="wy-control">
        <input type="text" id="title" placeholder="title" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- PARAGRAPH TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="textarea">Paragraph text</label>
      <div class="wy-control">
        <textarea id="textarea" placeholder="For regular ass text."></textarea>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- WYSIWGYG TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="wysiwyg">WYSIWYG text</label>
      <div class="wy-control">
        {{redactor-rte id="description" placeholder="something"}}
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>


    <!-- MARKDOWN TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="markdown">Markdown text</label>
      <div class="wy-control">
        <textarea id="markdown"></textarea>
        <!-- optional help message -->
        <span class="wy-form-message">Learn about Markdown syntax <a href="http://guides.github.com/overviews/mastering-markdown/" target="_blank">here</a></span>
      </div>
    </div>


    <!-- NUMBER -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="number">Number</label>
      <div class="wy-control">
        <input type="number" id="number" placeholder="number" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- CHECKBOXES -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="check-example">Choose another</label>
      <div class="wy-control">
        <label for="check-x" class="wy-checkbox">
          <input id="check-x" name="check-example" type="checkbox" value="">
          Option 1
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Option 2
        </label>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- MULTIPLE CHOICE -->
    <div class="wy-control-group wy-control-group-required" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="option-radio-example1">Multiple choice</label>
      <div class="wy-control">
        <label for="option-radiox" class="wy-radio">
          <input id="option-radiox" name="option-radio-example1" type="radio" value="">
          Option 1
        </label>
        <label for="option-radioy" class="wy-radio">
          <input id="option-radioy" name="option-radio-example1" type="radio" value="">
          Option 2
        </label>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- DROPDOWN -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="title">Dropdown</label>
      <div class="wy-control">
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- IMAGE UPLOAD -->
    <!-- SEE DOCS FOR MARKUP FOR EACH STATE -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label>Image upload</label>
      <div class="wy-form-control">
        <a class="wy-form-upload">
          <div class="wy-form-upload-content">
          <div class="image-drag">
            <i class="icon icon-picture wy-form-upload-icon"></i>
            <p>Drag or select image</p>
          </div>
          <div class="image-desktop">
            <i class="icon icon-desktop wy-form-upload-icon"></i>
            <p>Select from desktop</p>
          </div>
          <div class="wy-input-prefix"><span class="wy-input-context"><i class="icon icon-globe"></i></span><input type="text" placeholder=" Or paste URL" /></div>
          </div>
        </a>
      </div>
    </div>

    <!-- AUDIO UPLOAD -->
    <!-- SEE DOCS FOR MARKUP FOR EACH STATE -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="file-upload">Audio file upload</label>
      <div class="wy-control">
        <button class="btn btn-neutral icon icon-music"> Drag or select audio file</button>
      </div>
    </div>

    <!-- FILE UPLOAD -->
    <!-- SEE DOCS FOR MARKUP FOR EACH STATE -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="file-upload">File upload</label>
      <div class="wy-control">
        <button class="btn btn-neutral icon icon-file"> Drag or select file to upload</button>
      </div>
    </div>


    <!-- NAME -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="name">Name</label>
      <div class="wy-control">
        <input type="text" id="firstname" placeholder="First" />
        <input type="text" id="lastname" placeholder="Last" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="wy-control-group wy-control-group-address" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="name">Address</label>
      <div class="wy-control">
        <span class="wy-form-full">
          <input type="text" id="street1" placeholder="Street address 1" class="street1"/>
        </span>
        <span class="wy-form-full">
          <input type="text" id="street2" placeholder="address 2" class="street2"/>
        </span>
        <span class="wy-form-halves">
          <input type="text" id="city" placeholder="City" class="city"/>
        </span>
        <span class="wy-form-halves">
          <input type="text" id="state" placeholder="State / province / region" class="state"/>
        </span>
        <span class="wy-form-halves">
          <input type="text" id="postal" placeholder="Postal / zip code" class="postal"/>
        </span>
        <span class="wy-form-halves">
          <select class="country">
            <option>Country list</option>
          </select>
        </span>
      </div>
    </div>

    <!-- PHONE NUMBER -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="tel">Phone number</label>
      <div class="wy-control">
        <input type="tel" name="usrtel" placeholder="x-(xxx)-xxx-xxxx">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="email">Email</label>
      <div class="wy-control">
        <input type="email" name="email" placeholder="Email">
      </div>
    </div>

    <!-- DATETIME -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="datetime">Datetime</label>
      <div class="wy-control">
        <input type="datetime-local" name="datetime">
      </div>
    </div>
  </fieldset>

    <!-- WEBSITE -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="url">Website</label>
      <div class="wy-control">
        <input type="url" name="url" placeholder="http://www.sitename.com">
      </div>
    </div>

    <!-- RATING -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="url">Rating</label>
      <div class="wy-control">
        <span class="wy-star wy-star-4dot5">
      </div>
    </div>

    <!-- TAGS -->
    <div class="wy-control-group">
      <label for="right-label" >Tags or related objects</label>
      <div class="wy-control">
        <div class="wy-tag-input-group">
          <span class="wy-tag">Dave Snider<a href="" class="wy-tag-remove"></a></span>
          <span class="wy-tag">Ian Kelly<a href="" class="wy-tag-remove"></a></span>
          <span class="wy-tag">Mike Horn<a href="" class="wy-tag-remove"></a></span>
          <div class="wy-autocomplete-group">
            <label class="icon icon-search" for="search-example-2"></label> <input type="text" id="search-example-2" placeholder="Search tags">
            <div class="wy-autocomplete-dropdown">
              <ul>
                <li class="on">
                  Dave snider
                </li>
                <li>
                  Ian Kelly
                </li>
                <li>
                  Mike Horn
                </li>
              </ul>
            </div>
          </div>
        </div>
        <span class="wy-form-message">Hit enter after each tag.</span>
      </div>
    </div>

</form>





<div class="wh-form-builder-save wy-btn-group">
  <button type="button" class="btn icon icon-ok-sign float-right"> Save form</button>
  <button type="button" class="btn btn-neutral icon icon-remove-sign float-right"> Quit</button>

  {{#link-to "index" class="wh-logo"}}{{/link-to}}
  {{#link-to "index" class="icon icon-arrow-left"}} Back to the CMS{{/link-to}}
</div>
