<div class="wy-alert wy-alert-info">
  <span class="wy-alert-title">Let's get started.</span>
  <i class="icon icon-arrow-left"></i> Start by dragging a form field from the left into this area.
</div>

<form class="wy-form-stacked">
  <fieldset>
    <h2 class="wh-form-builder-title">Title of this object</h2>

    <!-- TEXT -->
    <div class="wy-control-group wy-control-group-required" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="title">Text</label>
      <div class="wy-control">
        <input type="text" id="title" placeholder="title" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- PARAGRAPH TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="textarea">Paragraph text</label>
      <div class="wy-control">
        <textarea id="textarea" placeholder="For regular ass text."></textarea>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- WYSIWGYG TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="wysiwyg">WYSIWYG text</label>
      <div class="wy-control">
        <textarea id="wysiwyg"></textarea>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>


    <!-- MARKDOWN TEXT -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="markdown">Markdown text</label>
      <div class="wy-control">
        <textarea id="markdown"></textarea>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>


    <!-- NUMBER -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="number">Number</label>
      <div class="wy-control">
        <input type="number" id="number" placeholder="number" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- CHECKBOXES -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="check-example">Choose another</label>
      <div class="wy-control">
        <label for="check-x" class="wy-checkbox">
          <input id="check-x" name="check-example" type="checkbox" value="">
          Option 1
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Option 2
        </label>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- MULTIPLE CHOICE -->
    <div class="wy-control-group wy-control-group-required" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="option-radio-example1">Multiple choice</label>
      <div class="wy-control">
        <label for="option-radiox" class="wy-radio">
          <input id="option-radiox" name="option-radio-example1" type="radio" value="">
          Option 1
        </label>
        <label for="option-radioy" class="wy-radio">
          <input id="option-radioy" name="option-radio-example1" type="radio" value="">
          Option 2
        </label>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>

    <!-- DROPDOWN -->
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="title">Dropdown</label>
      <div class="wy-control">
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>
  </fieldset>
</form>





<div class="wh-form-builder-save wy-btn-group">
  <button type="button" class="btn icon icon-ok-sign float-right"> Save form</button>
  <button type="button" class="btn btn-neutral icon icon-remove-sign float-right"> Quit</button>

  {{#link-to "index" class="wh-logo"}}{{/link-to}}
  {{#link-to "index" class="icon icon-arrow-left"}} Back to the CMS{{/link-to}}
</div>
