<div class="wy-alert wy-alert-info">
  <span class="wy-alert-title">Let's get started.</span>
  Start by dragging an form field from the <i class="icon icon-arrow-left"></i> left over here.
</div>

<form class="wy-form-stacked">
  <fieldset>
    <h2 class="wh-form-builder-title">Comic books</h2>
    <div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
      <label for="title">Title</label>
      <div class="wy-control">
        <input type="text" id="title" placeholder="title" />
        <!-- optional help message -->
        <span class="wy-form-message">Help goes here</span>
      </div>
    </div>
  </fieldset>
</form>





<div class="wh-form-builder-save wy-btn-group">
  <button type="button" class="btn icon icon-ok-sign float-right"> Save form</button>
  <button type="button" class="btn btn-neutral icon icon-remove-sign float-right"> Quit</button>

  {{#link-to "index" class="wh-logo"}}{{/link-to}}
  {{#link-to "index" class="icon icon-arrow-left"}} Back to the CMS{{/link-to}}
</div>
