  <!-- SIDE NAV, TOGGLES ON MOBILE -->
  <nav data-toggle="wy-nav-shift" class="wy-nav-side">

    <dl>
      <dt>Text</dt>
      <dd><a href="" class="wh-form-choice icon icon-font"> Single line text</a>
      <dd><a href="" class="wh-form-choice icon icon-align-left"> Paragraph text</a>
      <dd><a href="" class="wh-form-choice icon icon-magic"> WYSIWYG text</a>
      <dd><a href="" class="wh-form-choice icon icon-tag"> Markdown text</a>
    </dl>
    <dl>
      <dt>Basics</dt>
      <dd><a href="" class="wh-form-choice icon icon-font"> Number</a>
      <dd><a href="" class="wh-form-choice icon icon-align-left"> Checkbox</a>
      <dd><a href="" class="wh-form-choice icon icon-magic"> Multiple choice</a>
      <dd><a href="" class="wh-form-choice icon icon-tag"> Dropdown</a>
    </dl>
    <dl>
      <dt>Files</dt>
      <dd><a href="" class="wh-form-choice icon icon-font"> Image</a>
      <dd><a href="" class="wh-form-choice icon icon-align-left"> Gallery</a>
      <dd><a href="" class="wh-form-choice icon icon-tag"> Audio file</a>
      <dd><a href="" class="wh-form-choice icon icon-magic"> Other files</a>
    </dl>
    <dl>
      <dt>Specifics</dt>
      <dd><a href="" class="wh-form-choice icon icon-font"> Name</a>
      <dd><a href="" class="wh-form-choice icon icon-align-left"> Address</a>
      <dd><a href="" class="wh-form-choice icon icon-tag"> Phone number</a>
      <dd><a href="" class="wh-form-choice icon icon-magic"> Email</a>
      <dd><a href="" class="wh-form-choice icon icon-font"> Date time</a>
      <dd><a href="" class="wh-form-choice icon icon-align-left"> Website</a>
      <dd><a href="" class="wh-form-choice icon icon-tag"> Rating</a>
      <dd><a href="" class="wh-form-choice icon icon-magic"> Object relation</a>
    </dl>
  </nav>


