<!-- SIDE NAV, TOGGLES ON MOBILE -->
<nav data-toggle="wy-nav-shift" fake-toggle="fake-widget-list" class="wy-nav-side" data-spy="affix">
  <dl>
    <dt>Text</dt>
    <dd><a href="" class="wh-form-choice icon icon-font"> Single line text</a>
    <dd><a href="" class="wh-form-choice icon icon-align-left"> Paragraph text</a>
    <dd><a href="" class="wh-form-choice icon icon-magic"> WYSIWYG text</a>
    <dd><a href="" class="wh-form-choice icon icon-tag"> Markdown text</a>
  </dl>
  <dl>
    <dt>Basics</dt>
    <dd><a href="" class="wh-form-choice icon icon-font"> Number</a>
    <dd><a href="" class="wh-form-choice icon icon-align-left"> Checkbox</a>
    <dd><a href="" class="wh-form-choice icon icon-magic"> Multiple choice</a>
    <dd><a href="" class="wh-form-choice icon icon-tag"> Dropdown</a>
  </dl>
  <dl>
    <dt>Files</dt>
    <dd><a href="" class="wh-form-choice icon icon-font"> Image</a>
    <dd><a href="" class="wh-form-choice icon icon-align-left"> Gallery</a>
    <dd><a href="" class="wh-form-choice icon icon-tag"> Audio file</a>
    <dd><a href="" class="wh-form-choice icon icon-magic"> Other files</a>
  </dl>
  <dl>
    <dt>Specifics</dt>
    <dd><a href="" class="wh-form-choice icon icon-font"> Name</a>
    <dd><a href="" class="wh-form-choice icon icon-align-left"> Address</a>
    <dd><a href="" class="wh-form-choice icon icon-tag"> Phone number</a>
    <dd><a href="" class="wh-form-choice icon icon-magic"> Email</a>
    <dd><a href="" class="wh-form-choice icon icon-font"> Date time</a>
    <dd><a href="" class="wh-form-choice icon icon-align-left"> Website</a>
    <dd><a href="" class="wh-form-choice icon icon-tag"> Rating</a>
    <dd><a href="" class="wh-form-choice icon icon-magic"> Tags</a>
  </dl>
</nav>

<nav data-toggle="wy-nav-shift" fake-toggle="fake-widget-edit" class="wy-nav-side wy-nav-side-widget-edit" data-spy="affix">
  <form class="wy-form-stacked">
    <legend>Edit field details</legend>
    <div class="wy-control-group">
      <div class="wy-form-halves">
        <label for="label">Field label <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="Text field">
      </div>
      <div class="wy-form-halves">
        <label for="label">Placeholder value <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="Something">
      </div>
      <div class="wy-form-full">
        <label for="help">Instructions for user <i class="icon icon-question-sign"></i></label>
        <textarea id="help">Help goes here.</textarea>
      </div>
      <div class="wy-form-full">
        <label for="check-example">Required <i class="icon icon-question-sign"></i></label>
        <div class="wy-control">
          <label for="check-x" class="wy-checkbox">
            <input id="check-x" name="check-example" type="checkbox" value="">
            Make this field required.
          </label>
        </div>
      </div>
    </div>

    <hr/>

    <!-- TEXT -->
    <div class="wy-control-group" fake-toggle="fake-widget-form-text">
      <div class="wy-form-halves">
        <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="1">
      </div>
      <div class="wy-form-halves">
        <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="">
      </div>
    </div>

    <!-- PARAGRAPH -->
    <div class="wy-control-group" fake-toggle="fake-widget-form-para">
      <div class="wy-form-halves">
        <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="1">
      </div>
      <div class="wy-form-halves">
        <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="">
      </div>
    </div>

    <!-- WYSIWYG -->
    <div class="wy-control-group" fake-toggle="fake-widget-form-wysiwyg">
      <div class="wy-form-halves">
        <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="1">
      </div>
      <div class="wy-form-halves">
        <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="">
      </div>
      <div class="wy-form-full">
        <label for="label">What can users add into the WYSIWYG? <i class="icon icon-question-sign"></i></label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Tables
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Videos
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Images
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Block quotes
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Links
        </label>
        <!-- optional help message -->
      </div>
    </div>

    <!-- MARKDOWN -->
    <div class="wy-control-group" fake-toggle="fake-widget-form-markdown">
      <div class="wy-form-halves">
        <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="1">
      </div>
      <div class="wy-form-halves">
        <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="">
      </div>
    </div>

    <!-- NUMBER -->
    <div class="wy-control-group" fake-toggle="fake-widget-form-number">
      <div class="wy-form-halves">
        <label for="label">Min value <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="1">
      </div>
      <div class="wy-form-halves">
        <label for="label">Max number <i class="icon icon-question-sign"></i></label>
        <input type="text" name="label" value="">
      </div>
      <div class="wy-form-halves">
        <label for="label">Is this a currency? <i class="icon icon-question-sign"></i></label>
        <label for="check-y" class="wy-checkbox">
          <select>
            <option>No</option>
            <option>US dollars</option>
            <option>UK pounds</option>
          </select>
        </label>
      </div>
      <div class="wy-form-halves">
        <label for="label">Decimals allowed? <i class="icon icon-question-sign"></i></label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          Yes, allow decimals.
        </label>
      </div>
    </div>

    <div class="wy-control-group" fake-toggle="fake-widget-form-checkbox">
      <label for="Options">Checkbox options <i class="icon icon-question-sign"></i></label>
      <div class="wy-control">
        <label for="check-x" class="wy-checkbox">
          <input id="check-x" name="check-example" type="checkbox" value="">
          <input type="text" value="Option 1">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="checkbox" value="">
          <input type="text" value="Option 2">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
      </div>
    </div>

    <div class="wy-control-group" fake-toggle="fake-widget-form-multiple">
      <label for="Options">Multiple choice options <i class="icon icon-question-sign"></i></label>
      <div class="wy-control">
        <label for="check-x" class="wy-checkbox">
          <input id="check-x" name="check-example" type="radio" value="">
          <input type="text" value="Option 1">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="radio" value="">
          <input type="text" value="Option 2">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
      </div>
    </div>

    <div class="wy-control-group" fake-toggle="fake-widget-form-dropdown">
      <label for="Options">Dropdown options <i class="icon icon-question-sign"></i></label>
      <div class="wy-control">
        <label for="check-x" class="wy-checkbox">
          <input id="check-x" name="check-example" type="radio" value="">
          <input type="text" value="">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="radio" value="">
          <input type="text" value="Option 1">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
        <label for="check-y" class="wy-checkbox">
          <input id="check-y" name="check-example" type="radio" value="">
          <input type="text" value="Option 2">
          <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
          <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
        </label>
      </div>
    </div>

    <div fake-toggle="fake-widget-form-image"></div>
    <div fake-toggle="fake-widget-form-audio"></div>
    <div fake-toggle="fake-widget-form-file"></div>
    <div fake-toggle="fake-widget-form-name"></div>
    <div fake-toggle="fake-widget-form-address"></div>
    <div fake-toggle="fake-widget-form-email"></div>
    <div fake-toggle="fake-widget-form-website"></div>
    <div fake-toggle="fake-widget-form-rating"></div>
    <div fake-toggle="fake-widget-form-tags"></div>

    <div class="wy-btn-group">
      <button class="btn btn-neutral icon icon-ok-sign" fake-toggle="fake-widget-done"> Done</button>
      <button class="btn btn-link icon icon-remove-sign"> Delete</button>
    </div>
  </form>
</nav>
