<div class="wh-form-builder">
  <div class="wy-grid-for-nav">

    {{partial "formbuilder/_nav"}}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>


      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        asdf

      </div>

    </section>

  </div>
</div>







