<div class="wy-control-group">
  <label for="Options">Checkbox options <i class="icon icon-question-sign"></i></label>
  <div class="wy-control">
    {{#each option in editingControl.meta.data.options}}
    <label class="wy-checkbox">
      {{view Ember.Checkbox checked=option.defaultValue}}
      {{input placeholder="Label" value=option.label}}
      <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one." {{action addOption editingControl.meta.data.options}}></span>
      <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option." {{action removeOption editingControl.meta.data.options option}}></span>
    </label>
    {{/each}}
  </div>
</div>
