<hr>

<div class="wy-control-group">
  <label for="Options">Checkbox options <i class="icon icon-question-sign" data-toggle="tooltip" title="Use the plus and minus to add new options. Click the checkbox to make it default when on a fresh form."></i></label>
  <div class="wy-control">
    {{#each option in editingControl.meta.indexedOptions}}
      <label class="wy-checkbox">
        {{view Ember.Checkbox checked=option.option.defaultValue}}
        {{input placeholder="Label/Value" value=option.option.label}}
        <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one." {{action addOption editingControl.meta.options option.index}}></span>
        <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option." {{action removeOption editingControl.meta.options option.index}}></span>
      </label>
    {{/each}}
  </div>
</div>
