<div class="wy-control-group">
  <label for="Options">Checkbox options <i class="fa fa-question-circle"></i></label>
  <div class="wy-control">
    {{#each option in editingControl.meta.data.options}}
    <label class="wy-checkbox">
      <input type="checkbox">
      {{input placeholder="Label" value=option.value}}
      <span class="fa fa-plus-circle" data-toggle="tooltip" title="Add a new checkbox option below this one." {{action addOption editingControl.meta.data.options}}></span>
      <span class="fa fa-times-circle" data-toggle="tooltip" title="Remove this checkbox option." {{action removeOption editingControl.meta.data.options option}}></span>
    </label>
    {{/each}}
  </div>
</div>
