<hr>

<div class="wy-control-group">
  <div class="wy-form-full">
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.hideDate}}
      Hide date
    </label>
    <label class="wy-checkbox">
      {{input type="checkbox" checked=editingControl.meta.hideTime}}
      Hide time
    </label>
  </div>
</div>
