<hr>

<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Max Width <i class="icon icon-question-sign"></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.maxwidth"}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Max Height <i class="icon icon-question-sign"></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.maxheight"}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Width <i class="icon icon-question-sign"></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.width"}}
  </div>
</div>
