<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="1">
  </div>
  <div class="wy-form-halves">
    <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="">
  </div>
</div>
