<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Min value <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="1">
  </div>
  <div class="wy-form-halves">
    <label for="label">Max number <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="">
  </div>
  <div class="wy-form-halves">
    <label for="label">Is this a currency? <i class="icon icon-question-sign"></i></label>
    <label for="check-y" class="wy-checkbox">
      <select>
        <option>No</option>
        <option>US dollars</option>
        <option>UK pounds</option>
      </select>
    </label>
  </div>
  <div class="wy-form-halves">
    <label for="label">Decimals allowed? <i class="icon icon-question-sign"></i></label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Yes, allow decimals.
    </label>
  </div>
</div>
