<hr>

<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Min value</label>
    {{input type="number" valueBinding="editingControl.meta.min"}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Max number</label>
    {{input type="number" valueBinding="editingControl.meta.max"}}
  </div>
</div>
