<hr>

<div class="wy-control-group">

  <div class="wy-form-halves">
    <label for="label">Min value <i class="icon icon-question-sign" data-toggle="tooltip" data-placement="right" title="This is the min value a user can enter. Entering .5 would allow a half star."></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.min"}}
  </div>

  <div class="wy-form-halves">
    <label for="label">Max value <i class="icon icon-question-sign" data-toggle="tooltip" title="The max number of stars allowed. Entering 10 would change the form to have 10 stars."></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.max"}}
  </div>

  <div class="wy-form-halves">
    <label for="label">Step <i class="icon icon-question-sign" data-toggle="tooltip" data-placement="right" title="What incriment can people rate between the min and the max? Entering .5 would mean a user could rate in half stars."></i></label>
    {{input type="number" valueBinding="editingControl.meta.data.step"}}
  </div>

</div>
