<hr>

<div class="wy-control-group">
  <div class="wy-form-full">
    <label for="Options">Relationships to allow</label>
    <div class="wy-control">
      {{view Ember.Select
        content=contentTypes
        optionValuePath="content.id"
        optionLabelPath="content.name"
        value=editingControl.meta.data.contentTypeId
        prompt="All content types"
      }}
    </div>
  </div>
</div>
