<hr>

<div class="wy-control-group">
  <div class="wy-form-full">
    <label for="Options">Relationships to allow <i class="icon icon-question-sign" data-toggle="tooltip" title="Only this content type will be searchable in the form widget."></i></label>
    <div class="wy-control">
      {{view "select"
        content=contentTypes
        optionValuePath="content.id"
        optionLabelPath="content.name"
        value=editingControl.meta.contentTypeId
        prompt="Select a relation"
      }}
    </div>
    <div class="wy-control">
      <label class="wy-checkbox">
        {{input type="checkbox" checked=editingControl.meta.isSingle}}
        Only allow one searched item and no more.
      </label>
    </div>
    <div class="wy-control">
      <label class="wy-checkbox">
        {{input type="checkbox" checked=editingControl.hidden}}
        Hide this widget during form entry.
      </label>
    </div>
  </div>
</div>
