<div class="wy-control-group">
  <label for="Options">Dropdown options <i class="icon icon-question-sign"></i></label>
  <div class="wy-control">
    <label for="check-x" class="wy-checkbox">
      <input id="check-x" name="check-example" type="radio" value="">
      <input type="text" value="">
      <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
      <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="radio" value="">
      <input type="text" value="Option 1">
      <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
      <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="radio" value="">
      <input type="text" value="Option 2">
      <span class="icon icon-plus-sign" data-toggle="tooltip" title="Add a new checkbox option below this one."></span>
      <span class="icon icon-remove-sign" data-toggle="tooltip" title="Remove this checkbox option.">
    </label>
  </div>
</div>
