<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
    {{input value=editingField.meta.min}}
  </div>
  <div class="wy-form-halves">
    <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
    {{input value=editingField.meta.max}}
  </div>
</div>
