<div class="wy-control-group">
  <div class="wy-form-halves">
    <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="1">
  </div>
  <div class="wy-form-halves">
    <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
    <input type="text" name="label" value="">
  </div>
  <div class="wy-form-full">
    <label for="label">What can users add into the WYSIWYG? <i class="icon icon-question-sign"></i></label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Tables
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Videos
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Images
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Block quotes
    </label>
    <label for="check-y" class="wy-checkbox">
      <input id="check-y" name="check-example" type="checkbox" value="">
      Links
    </label>
  </div>
</div>
