.wh-form-builder-list
  +outer-container
  > li
    background: $white
    padding: $base-line-height
    border: solid 1px $gray
    border-top: solid 5px $gray
    margin-bottom: $base-line-height
    height: 380px
    position: relative
    +transition(all 0.1s linear)
    +span-columns(4)
    +omega(3n)
  > li.wh-form-builder-new
    opacity: .3
    background: transparent
    &:hover
      opacity: 1
      background: $white
      border: solid 1px $gray
      border-top: solid 5px $gray
      h4
        color: $green
  .wy-button-group
    position: absolute
    bottom: 0
    left: 0
    padding: $base-line-height
    width: 100%

.wh-grid-form-builder
  +outer-container
  width: 100%
  max-width: 100%


.wh-form-builder
  .wy-nav-side
    background: $menu-background-color
    width: 40%
    padding: $base-line-height / 2 $base-line-height / 4
    dl
      +clearfix
      margin-bottom: $base-line-height / 2
    dt
      font-weight: bold
      font-size: 80%
      padding: $base-line-height / 4
      width: 100%
      +clearfix
    dd
      width: 50%
      float: left
      padding: $base-line-height / 4
    dd a
      display: block
      background: $section-background-color
      width: 100%
      padding: $base-line-height / 4
      border: solid 1px $gray-lighter
      color: $text-medium
      font-size: 90%
      &:before
        color: $text-color
  .wy-nav-content-wrap
    margin-left: 40%
  .wh-logo
    +wy-logo(40px,$gray-dark)
  .wh-form-builder-save
    position: fixed
    bottom: 0
    right: 0
    width: 60%
    background: $menu-background-color
    border-top: solid 1px rgba(0,0,0,.1)
    padding: $base-line-height
    margin-bottom: 0
    .btn
      margin-left: $base-line-height / 2
    .wh-logo
      margin-right: $base-line-height / 2
  .wh-form-builder-title
    border-bottom: dashed 1px $gray-light
  .wy-control-group
    padding: $base-line-height / 4
    border: solid 1px transparent
  .wy-control-group:hover
    border: dashed 1px $gray-light
    cursor: pointer

+media($tablet)
  .wh-form-builder-list > li
    +span-columns(4)
    +omega(2n)
+media($mobile)
  .wh-form-builder-list > li
    +span-columns(4)
    +omega(1n)
