.wh-content-head
  background: $gray-dark
  color: $text-invert
  padding: $base-line-height / 2
  +border-top-radius(4px)
  h1
    font-family: $base-font-family
    margin: 0
    font-size: 100%
    display: inline
    text-transform: capitalize
    +font-smooth

.wh-content-head.wh-content-head-again
  margin-top: $base-line-height * 2

.wh-content-edit
  background: $white
  padding: $base-line-height * 2 $base-line-height $base-line-height $base-line-height
  border: solid 1px $table-border-color

.wh-content-edit .wy-control-group, .wh-content-list .wy-control-group
  border-bottom: dotted 1px $table-border-color
  padding: $base-line-height
  padding-top: 0

.wh-content-edit .wy-btn-group
  padding-left: $base-line-height


.wh-content-list-title
  +clearfix
.wh-content-list
  background: $white
  padding: $base-line-height * 2
  border: solid 1px $table-border-color
  .icon-remove-sign
    color: $text-color
    &:hover
      color: $red !important
  .icon-lock
    color: $text-color !important

.wh-content-list .wh-content
  margin-bottom: 0

.wy-dropdown.wy-dropdown-display-options
  dd
    padding: $base-line-height / 4
    font-size: 60%
    white-space: nowrap
    text-transform: capitalize
    cursor: pointer
    .icon:before
      color: $gray
  dt
    color: $gray-lighter
    text-transform: uppercase
    font-size: 70%
    margin-top: $base-line-height / 4
    white-space: nowrap
  dt:first-child
    margin-top: 0
  .wy-dropdown-menu
    right: 0
    left: auto

.wh-content-edit, .wh-content-list
  h1
    display: inline-block
    margin: 0
    line-height: 1
    text-transform: capitalize

.wh-content td
  &.gallery
    img
      border-radius: 50px
      margin-right: $base-line-height / 4

+media($mobile)
  .wh-content th, .wh-content td
    display: none
  .wh-content th:first-of-type, .wh-content td:first-of-type
    font-size: 125%
    padding: $base-line-height / 2 0
    display: block
  .wy-dropdown.wy-dropdown-display-options
    display: none
  .wh-content-list
    input[type=search]
      width: 100%
