.wh-form-builder-list
  +outer-container
  > li
    background: $white
    padding: $base-line-height
    border: solid 1px $gray
    border-top: solid 5px $gray
    margin-bottom: $base-line-height
    height: 380px
    position: relative
    +transition(all 0.1s linear)
    +span-columns(4)
    +omega(3n)
  > li.wh-form-builder-new
    opacity: .3
    background: transparent
    &:hover
      opacity: 1
      background: $white
      border: solid 1px $gray
      border-top: solid 5px $gray
      h4
        color: $green
  .wy-button-group
    position: absolute
    bottom: 0
    left: 0
    padding: $base-line-height
    width: 100%

+media($tablet)
  .wh-form-builder-list > li
    +span-columns(4)
    +omega(2n)
+media($mobile)
  .wh-form-builder-list > li
    +span-columns(4)
    +omega(1n)
