$base-font-family:                    "museo-sans-1", "museo-sans-2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif
$custom-font-family:                  "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif

$background-color:                    hsl(0,0%,95%)
$link-color:                          $blue
$link-color-alt:                      hsl(33, 100%, 51%)
$link-color-hover:                    lighten($link-color, 6%)

$menu-background-color:               hsl(0,0%,94%)
$section-background-color:            hsl(0,0%,99%)
$menu-logo-color:                     $gray-dark

$fa-font-path:                        "../assets" !default

$button-background-color:             $gray-dark
$button-neutral-background-color:     hsl(0,0%,95%)

$table-stripe-color:                  $menu-background-color
$table-font-size:                     80%
$table-padding-size:                  $base-line-height / 4
$table-bg-hover-color:                $menu-background-color

$spinner-color:                       $gray
$text-code-color:                     $gray-light
