.wh-content-list-title
  +clearfix
.wh-content-list
  input[type=search]
    margin-bottom: $base-line-height
    border-radius: 50px
    padding-left: $base-line-height / 2
  .icon-remove-sign
    color: $text-color
    &:hover
      color: $red

.wy-dropdown.wy-dropdown-display-options
  dd
    padding: $base-line-height / 4
    font-size: 60%
    white-space: nowrap
    text-transform: capitalize
    cursor: pointer
    .icon:before
      color: $gray
  dt
    color: $gray-lighter
    text-transform: uppercase
    font-size: 70%
    margin-top: $base-line-height / 4
    white-space: nowrap
  dt:first-child
    margin-top: 0
  .wy-dropdown-menu
    right: 0
    left: auto

.wh-content-edit, .wh-content-list
  h1
    display: inline-block
    margin: 0
    line-height: 1
    text-transform: capitalize
