// ------------------------------------------------------------
// WEBHOOK FORM CONTROLS
// ------------------------------------------------------------
// Some extra form elements that Webhook needs beyond Wyrm.
// ------------------------------------------------------------

.wy-control-group
  .wh-template-var
    opacity: 0
    float: right
    color: $text-light
    +transition(all 0.5s ease-in)

.wy-control-group:not(.wy-control-group-instruction)
  &:hover > label .wh-template-var
    display: inline-block
    opacity: 1

.wy-alert
  font-size: 80%
  line-height: 1.5
.wy-control-group.wy-control-group-instruction
  @extend .wy-alert
  margin-right: $base-line-height
  margin-left: $base-line-height
  border-bottom: none
  label
    @extend .wy-alert-title
    color: $white !important
    margin-left: -$base-line-height
    margin-right: -$base-line-height
  .wy-form-message
    color: $text-color
    font-size: 90%
    font-style: normal

.wy-control-group-file
  audio
    margin-bottom: $base-line-height / 4
    display: block
  .wy-file-remove
    color: $text-light
    font-size: 80%
    cursor: pointer
    &:hover
      color: $red
  .wy-file-location
    font-size: 80%
    display: inline-block
    margin-bottom: $base-line-height / 4
  .wy-form-upload-container
    display: none
    &.on
      display: block

.wy-form-upload-url
  display: none
  &.on
    display: block

.wy-control-group.wy-control-group-grid
  padding: 0
  > label
    font-size: 125%
    font-weight: bold
    line-height: 1.5
    .wh-template-var
      font-size: 14px
      font-weight: normal
  .wh-grid-item
    margin-bottom: -1px
  .wh-grid-item.first
    margin-top: $base-line-height
    .wh-grid-value
      border-top: solid 1px $table-border-color
  .wh-grid-item.active
    box-shadow: 0px 0px 5px rgba(0,0,0,.1)
    margin: $base-line-height 0
    .wh-grid-form
      display: block
    .wh-grid-value
      border-top: solid 1px $table-border-color
  .wh-grid-num
    display: inline-block
    background: $table-stripe-color
    height: 30px
    width: 30px
    border-radius: 100px
    text-align: center
    line-height: 30px
    margin-right: $base-line-height / 2
    font-size: 90%
  .wh-grid-value
    border: solid 1px $table-border-color
    padding: $base-line-height / 2
    cursor: pointer
    font-size: 90%
    background: $white
    &:hover .icon
      opacity: 1
  .wh-grid-form
    border: solid 1px $table-border-color
    border-top: none
    display: none
    background: $white
    .wy-control-group:first-child
      padding-top: $base-line-height
    .wy-control-group:last-child
      margin-bottom: 0
      border: none
  .wy-btn-group
    margin-bottom: 0
    padding-bottom: $base-line-height
    .btn-link
      color: $red
  .icon-ellipsis-v:before
    width: $base-line-height
    text-align: center
    margin-right: $base-line-height / 4
    cursor: move
  .icon-remove-sign, .icon-plus-sign
    float: right
    margin-left: $base-line-height / 2
    margin-top: 6px
    opacity: 0
    cursor: pointer
    color: $gray-light
    &:hover
      color: $text-color


.wh-table-tabular
  margin-bottom: 0
  .wh-tabular-input
    width: 50%
  .wh-tabular-input input
    width: 100%
  .wh-tabular-grab
    width: $base-line-height
    cursor: pointer
    text-align: center
  .icon-ellipsis-v
    color: $gray-lighter
    width: $base-line-height
  .icon-remove-sign
    color: $red

.wh-embedly-content
  margin-top: $base-line-height / 2

.wh-video
  position: relative
  padding-bottom: 56.25%
  height: 0

.wh-video-wrap
  max-width: 640px
  +clearfix
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.wh-slug
  input[type=text].big-name
    width: 100%
    border: none
    border-bottom: solid 2px $input-border-color
    margin-bottom: $base-line-height / 4
    box-shadow: none
    font-size: 150%
    background: none
    padding-left: 0
    &:focus
      border-color: $gray-darker
  .icon-ok-sign
    color: $green
    cursor: pointer
  .wy-form-message
    input[type=text]
      width: 30%

.wh-slug-variables
  font-size: 80%
  background: $gray-darker
  line-height: 1.5
  overflow: auto
  padding: $base-line-height / 2

.wh-color-value
  display: inline-block
  width: 10px
  height: 10px
  border: solid 1px $gray

input[type=color]
  padding: 0

.btn-preview
  float: right
  margin-top: -6px

.wh-geolocation-maps
  clear: both
  height: 180px
  position: relative
  z-index: 1

.wy-tag
  cursor: move
  margin-right: 0.3em
  &.ui-sortable-helper .wy-tag-remove
    display: none
