.wh-content-list-title
  +clearfix
  h1
    display: inline-block
    margin: 0
    text-transform: capitalize
.wh-content-list
  input[type=search]
    margin-bottom: $base-line-height
    border-radius: 50px
    padding-left: $base-line-height / 2
  .icon-remove-sign
    color: $text-color
