$base-font-family:                    "museo-sans-1", "museo-sans-2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif
$custom-font-family:                  "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif

$link-color:                          $green
$link-color-alt:                      hsl(33, 100%, 51%)
$link-color-hover:                    lighten($link-color, 6%)

$menu-background-color:               #FFF
$section-background-color:            hsl(0,0%,95%)
$menu-logo-color:                     $gray-dark

$font-awesome-dir:                    ""
