<div class="wy-form-halves">
  <label for="label">Min characters</label>
  {{input type="number" valueBinding="editingControl.meta.data.min"}}
</div>
<div class="wy-form-halves">
  <label for="label">Max characters</label>
  {{input type="number" valueBinding="editingControl.meta.data.max"}}
</div>
