<div class="wy-form-halves">
  <label for="label">Min characters <i class="icon icon-question-sign"></i></label>
  {{input type="number" valueBinding="editingControl.meta.data.min"}}
</div>
<div class="wy-form-halves">
  <label for="label">Max characters <i class="icon icon-question-sign"></i></label>
  {{input type="number" valueBinding="editingControl.meta.data.max"}}
</div>
