<div class="wy-body-for-nav">
  <div class="wy-grid-for-nav">

    {{ partial "content/nav" }}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>


      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        <nav>
          {{#link-to "formbuilder_test"}}all content types{{/link-to}}
          |
          {{#link-to "formbuilder_test.create"}}create content type{{/link-to}}
          |
          {{#link-to 'formbuilder_test.type' this.name}}{{name}}{{/link-to}}
          |
          {{#link-to 'formbuilder_test.type.item' this.name}}create new item{{/link-to}}
        </nav>

        <hr>

        {{outlet}}

      </div>

    </section>

  </div>
</div>
