<h2>Add or edit new forms for your CMS</h2>

<hr/>

<ul class="wh-form-list">
  <li>
    <h4>Articles</h4>
    <ul class="wy-plain-list-disc">
      <li>141 articles</li>
      <li>7 editable fields</li>
      <li>RSS enabled</li>
    </ul>
    <hr/>
    <div class="wy-button-group">
      <button class="btn btn-neutral icon icon-edit"> Edit</button>
      <button class="btn btn-neutral icon icon-remove-sign"> Delete</button>
    </div>
  </li>
</ul>
