  <!-- SIDE NAV, TOGGLES ON MOBILE -->
  <nav data-toggle="wy-nav-shift" class="wy-nav-side">
    <div class="wy-side-nav-search">
      {{#link-to 'wh' class="wh-logo"}}{{/link-to}}
      <input type="text" placeholder="search">
    </div>

    <div class="wy-menu wy-menu-vertical" data-spy="affix">

      <div data-menu-wrap="all-content" class="current move-center">
        <header>Your content</header>
        <ul>
        {{#each}}
          <li>{{#link-to 'wh.content.type' name}}{{name}}{{/link-to}}</li>
        {{/each}}
        </ul>
        <header>Configuration</header>
        <ul>
          <li data-menu-item="customize-forms">{{#link-to 'wh.content'}}Add / edit forms{{/link-to}}</li>
          <li><a data-menu="settings">Site settings</a></li>
        </ul>
      </div>

      <div data-menu-wrap="settings" class="move-right">
        <ul>
          <li><a class="fa fa-arrow-left" data-menu="all-content"> Back to your content</a></li>
        </ul>
        <header>Site settings</header>
        <ul>
          <li>{{#link-to 'wh.settings.general'}}General settings{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.billing'}}Billing{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.team'}}Team members{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.domain'}}Domain{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.data'}}Backups and data{{/link-to}}</li>
        </ul>
      </div>

    </div>
    &nbsp;
  </nav>


