  <!-- SIDE NAV, TOGGLES ON MOBILE -->
  <nav data-toggle="wy-nav-shift" class="wy-nav-side">
    <div class="wy-side-nav-search">
      {{#link-to 'wh' class="wh-logo"}}{{/link-to}}
      <input type="text" placeholder="search">
    </div>

    <div class="wy-menu wy-menu-vertical" data-spy="affix">

      <div data-menu-wrap="all-content" class="current move-center">
        {{#if session.user}}
          {{session.user.email}}
          <button type="button" class="btn fa fa-check-circle" {{action logoutUser on="click"}}> Logout</button>
        {{/if}}
        {{#if model}}
          <header>Your content</header>
          <ul>
          {{#each}}
            <li>{{#link-to 'wh.content.type' name}}{{name}}{{/link-to}}</li>
          {{/each}}
          </ul>
        {{/if}}
        <header>Configuration</header>
        <ul>
          <li data-menu-item="customize-forms">{{#link-to 'wh.content'}}Add / edit content types{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.general'}}General settings{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.billing'}}Billing{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.team'}}Team members{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.domain'}}Domain{{/link-to}}</li>
          <li>{{#link-to 'wh.settings.data'}}Backups and data{{/link-to}}</li>
        </ul>
      </div>

    </div>
    &nbsp;
  </nav>


