<article>
  <h1>Welcome alpha testers</h1>

  <p>
    Thanks for helping Mike, Ian and Dave test Webhook. We know you guys are
    super busy so we're appreciative of your feedback. Reach us anytime
    by emailing <a href="mailto:alpha@webhook.com">alpha@webhook.com</a>.
  </p>

  <h3>Documentation</h3>

  <p><a href="http://www.webhook.com/docs/">Documentation is here</a>.</p>

  <h3>Reporting bugs</h3>

  <p>
    You can create issues on
    <a href="https://github.com/webhook/webhook/issues?state=open">Github here</a>.
  </p>

</article>


{{#if serverMessages}}
  <section>
    <h2>Build History</h2>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr>
          <th>Type</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each serverMessages}}
          <tr>
            <td>{{code}}</td>
            <td>{{message}}</td>
            <td>{{format-time timestamp}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if moreServerMessages}}<button type="button" class="btn btn-link" {{action "moreServerMessages"}}>Fetch more history</button>{{/if}}
  </section>
{{/if}}
