<article>
  <h1>Webhook Demo (podcast site)</h1>

  <p>
    You can see the live site for this demo at <a href="http://secretdemo.webhook.org">http://secretdemo.webhook.org</a>.
    It auto generates scaffolding templates based upon the content you add here. If you'd like to see a site with
    an actual design, feel free to check out the <a href="http://www.dadstrength.tv">Dad Strength podcast</a>, which is
    where this dummy data comes from.
  </p>

  <hr>
  <h2>Just do this to see how Webhook is different</h2>

  <p>Want to see what makes Webhook different? Try the following.</p>

  <ol>
    <li>{{#link-to 'wh.content.start' }}Add a new form{{/link-to}} to the CMS using the formbuilder.</li>
    <li>One your form is built, add a couple entries.</li>
    <li>Check out the <a href="/">Demo homepage</a> to see your content.</li>
  </ol>

  <hr>
  <h2>Limited features of this demo</h2>

  <p>This special demo site disables the following features which are availabe in the installed version of Webhook.</p>

  <ul>
    <li>Installing or using themes.</li>
    <li>Editing your templates.</li>
    <li>Adding team members.</li>
    <li>Changing your domain.</li>
  </ul>

  <hr>
  <h2>Curious what the templates look like?</h2>

  <p>You can find the templates for a podcast site based on this data <a href="https://github.com/webhook/webhook-theme-podcast/tree/master/templates">over on github</a>.</p>

</article>


{{#if serverMessages}}
  <section>
    <h2>Build history</h2>

    <table class="wy-table wy-table-bordered-rows full-width">
      <thead>
        <tr>
          <th>Type</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each serverMessages}}
          <tr>
            <td>{{code}}</td>
            <td>{{message}}</td>
            <td>{{format-time timestamp}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#if moreServerMessages}}<a {{action "moreServerMessages"}}>Fetch more history</a>{{/if}}
  </section>
{{/if}}
