<article>
  <h1>Welcome alpha testers</h1>

  <p>
    Thanks for helping Mike, Ian and Dave test Webhook. We know you guys are
    super busy so we're appreciative of your feedback. Reach us anytime
    by emailing <a href="mailto:alpha@webhook.com">alpha@webhook.com</a>.
  </p>

  <h3>Documentation</h3>

  <p><a href="http://webhook-site.webhook.com/docsalpha/">Documentation is here</a>.</p>

  <h3>Reporting bugs</h3>

  <p>
    You can create issues on
    <a href="https://github.com/webhook/webhook/issues?state=open">Github here</a>.
  </p>

  <h3>Let us know anytime something isn't immediately apparent</h3>

  <p>
    We're trying to make this really easy. If you get stuck during
    the process of building a site please write it down and
    <a href="https://github.com/webhook/webhook/issues?state=open">create an issue</a>.
  </p>

  <ul>
    <li>What were you doing when you got stuck?</li>
    <li>What did you expect to happen?</li>
    <li>How did you end up figuring it out?</li>
    <li>How could we improve the flow or documenation to solve this problem?</li>
  </ul>

  <h3>Innovative forum software below</h3>
</article>

{{disqus-embed shortname="webhooked" identifier="alphatest"}}
