<span class="icon icon-ellipsis-v" data-toggle="tooltip" data-placement="left" title="Click and drag to change the order.">
  {{view.content.itemData.name}}
  {{#unless view.context.control.disabled}}
    <a class="icon icon-remove-sign" {{ action "removeItem" view.content }}></a>
  {{/unless}}
</span>
