<span>{{view.content.itemData.name}}</span>{{#unless view.context.control.disabled}}<button type="button" class="btn btn-link icon icon-remove-sign" {{ action "removeItem" view.content }}></button>{{/unless}}
