<header>
  You just created {{contentType.name}}
</header>
<section>
  ... check your templates/{{contentType.id}}/ folder for some templates!
</section>
<footer>
  <button type="button" class="btn btn-neutral" {{action "confirm"}}>Ok</button>
</footer>
