<header>
  Templates created
</header>
<section>
  <p>
    We automatically created starter templates in your
    <code>/{{buildEnvironment.siteName}}/templates/{{contentType.id}}/</code>
    folder. They'll also teach you the basics of pulling content into your
    site from the CMS.
  </p>
  </section>
</section>
<footer>
  <button type="button" class="btn btn-neutral icon icon-ok-sign" {{action "confirm"}}> OK, I got it!</button>
</footer>
