<header>
  You just changed {{contentType.name}}
</header>
<section>
  <p>
    Would you like us to regenerate <code>/templates/{{contentType.id}}/</code>?
    This will overwrite the templates completely, so please be careful.
  </p>
</section>
<footer>
  <button type="button" class="btn btn-neutral" {{action "confirm"}}>Overwrite the templates</button>
  <button type="button" class="btn btn-neutral" {{action "cancel"}}>Don't do that</button>
</footer>
