<header>
  You just changed {{contentType.name}}
</header>
<section>
  Would you like us to build new scaffolding? Note, this will replace any edits to the template you may have already made.
</section>
<footer>
  <button type="button" class="btn btn-neutral" {{action "confirm"}}>Ok</button>
  <button type="button" class="btn btn-neutral" {{action "cancel"}}>No</button>
</footer>
