<!-- AUDIO UPLOAD -->
<!-- SEE DOCS FOR MARKUP FOR EACH STATE -->
<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="file-upload">Audio file upload</label>
  <div class="wy-control">
    <button class="btn btn-neutral icon icon-music"> Drag or select audio file</button>
  </div>
</div>
