{{#each option in meta.data.options}}
  <label class="wy-checkbox">
    {{view 'checkbox-control'
      checked=option.value
      defaultValue=option.defaultValue
    }}
    {{option.label}}
  </label>
{{/each}}
