{{#each option in meta.options}}
  <label class="wy-checkbox">
    {{view 'checkbox-control'
      checked=option.value
      control=this
      option=option
    }}
    {{option.label}}
  </label>
{{/each}}
