<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="check-example">Choose another</label>
  <div class="wy-control">
    <label for="check-x" class="wy-checkbox">
      {{view Ember.Checkbox}}
      Option 1
    </label>
    <label for="check-y" class="wy-checkbox">
      {{view Ember.Checkbox}}
      Option 2
    </label>
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
