{{#each option in view.content.meta.options}}
  <label class="wy-checkbox">
    {{view 'checkbox-control'
      checked=option.value
      control=view.content
      option=option
      disabled=disabled
    }}
    {{option.label}}
  </label>
{{/each}}
