{{view Ember.Checkbox checked=field.value}}

{{!-- <label for="check-x" class="wy-checkbox">
  {{view Ember.Checkbox}}
  Option 1
</label>
<label for="check-y" class="wy-checkbox">
  {{view Ember.Checkbox}}
  Option 2
</label>
 --}}
