<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="datetime">Datetime</label>
  <div class="wy-control">
    {{input type="datetime-local"}}
  </div>
</div>
