<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="email">Email</label>
  <div class="wy-control">
    {{input type="email" placeholder="Email"}}
  </div>
</div>
