<!-- FILE UPLOAD -->
<!-- SEE DOCS FOR MARKUP FOR EACH STATE -->
<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="file-upload">File upload</label>
  <div class="wy-control">
    <button class="btn btn-neutral icon icon-file"> Drag or select file to upload</button>
  </div>
</div>
