<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="markdown">Markdown text</label>
  <div class="wy-control">
    {{textarea}}
    <!-- optional help message -->
    <span class="wy-form-message">Learn about Markdown syntax <a href="http://guides.github.com/overviews/mastering-markdown/" target="_blank">here</a></span>
  </div>
</div>
