{{#view 'markdown-editor'}}
  {{textarea placeholder=placeholder class="wh-form-markdown" value=value}}

  <article class="wh-markdown-preview"></article>

  <span class="icon icon-fullscreen fullscreen-toggle"></span>

{{/view}}
