<span class="wy-form-halves">
  {{input placeholder="First" value=value.first disabled=disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Last" value=value.last disabled=disabled}}
</span>
