<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="name">Name</label>
  <div class="wy-control">
    {{input placeholder="First"}}
    {{input placeholder="Last"}}
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
