<span class="wy-form-halves">
  {{input placeholder="First" value=view.content.value.first disabled=view.content.disabled}}
</span>
<span class="wy-form-halves">
  {{input placeholder="Last" value=view.content.value.last disabled=view.content.disabled}}
</span>
