<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="number">Number</label>
  <div class="wy-control">
    {{input type="number" placeholder="number"}}
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
