<!-- PHONE NUMBER -->
<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="tel">Phone number</label>
  <div class="wy-control">
    {{input type="tel" placeholder="x-(xxx)-xxx-xxxx"}}
  </div>
</div>
