{{#with this as control}}
{{#each option in meta.data.options}}
<label class="wy-radio">
  {{view "radio-button"
    name=control.name
    selection=control.value
    value=option.value
    defaultValue=control.meta.data.defaultValue
  }}
  {{option.value}}
</label>
{{/each}}
{{/with}}
