<label for="option-radiox" class="wy-radio">
  <input id="option-radiox" name="option-radio-example1" type="radio" value="">
  Option 1
</label>
<label for="option-radioy" class="wy-radio">
  <input id="option-radioy" name="option-radio-example1" type="radio" value="">
  Option 2
</label>
