{{#each option in view.content.meta.options}}
<label class="wy-radio">
  {{view "radio-button"
    name=view.content.name
    selection=view.content.value
    value=view.content.option.value
    defaultValue=view.content.meta.defaultValue
    disabled=view.content.disabled
  }}
  {{option.value}}
</label>
{{/each}}
