{{#each option in meta.options}}
<label class="wy-radio">
  {{view "radio-button"
    name=name
    selection=value
    value=option.value
    defaultValue=meta.defaultValue
    disabled=disabled
  }}
  {{option.value}}
</label>
{{/each}}
