{{#each option in control.meta.data.options}}
<label class="wy-radio">
  {{view "radio-button"
    name=name
    selection=value
    value=option.value
    defaultValue=meta.data.defaultValue
  }}
  {{option.value}}
</label>
{{/each}}
