<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="url">Rating</label>
  <div class="wy-control">
    <span class="wy-star wy-star-4dot5">
  </div>
</div>
