<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="title">Dropdown</label>
  <div class="wy-control">
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
