<table class="wy-table wy-table-bordered-all wy-table-striped">
  <thead>
    {{#each option in meta.data.options}}
      <th>{{option.value}}</th>
    {{/each}}
    <th></th>
  </thead>
  <tbody>
    {{#with this as control}}
    {{#each row in value}}
      <tr>
        {{#each data in row}}
          <td>{{input value=data.value}}</td>
        {{/each}}
        <td><button type="button" class="btn btn-link icon icon-remove-sign" {{action "removeTabularRow" row control}}></button>
      </tr>
    {{/each}}
    {{/with}}
  </tbody>
</table>

<button class="btn btn-link btn-small icon icon-plus-sign" {{action "addTabularRow" this}}> Add Row</button>
