<div class="wy-tag-input-group">
  <span class="wy-tag">Dave Snider<a href="" class="wy-tag-remove"></a></span>
  <span class="wy-tag">Ian Kelly<a href="" class="wy-tag-remove"></a></span>
  <span class="wy-tag">Mike Horn<a href="" class="wy-tag-remove"></a></span>
  <div class="wy-autocomplete-group">
    <label class="icon icon-search" for="search-example-2"></label> <input type="text" id="search-example-2" placeholder="Search tags">
    <div class="wy-autocomplete-dropdown">
      <ul>
        <li class="on">
          Dave snider
        </li>
        <li>
          Ian Kelly
        </li>
        <li>
          Mike Horn
        </li>
      </ul>
    </div>
  </div>
</div>
