<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="textarea">Paragraph text</label>
  <div class="wy-control">
    {{textarea placeholder="For regular ass text."}}
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
