<div class="wy-control-group" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="url">Website</label>
  <div class="wy-control">
    {{input type="url" placeholder="http://www.sitename.com"}}
  </div>
</div>
