<div class="wy-control-group wy-control-group-edit" data-toggle="tooltip" data-placement="left" title="Click to edit field details.">
  <label for="wysiwyg">WYSIWYG text</label>
  <div class="wy-control">
    {{redactor-rte placeholder="something"}}
    <!-- optional help message -->
    <span class="wy-form-message">Help goes here</span>
  </div>
</div>
