{{#if session.billing.isTrial }}
  <h2>This is a trial account</h2>
  <p>All Webhook sites start as 14-day free trials. To continue service and allow for custom domains you'll need to upgrade to a paid account.</p>
  <p>You'll be asked to login again.</p>
  <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> Upgrade now</a>
{{/if}}
{{#if session.billing.isPaid }}
  <h2>You're all paid up</h2>
  <p>Your site is active on a paid plan. Manage your account below.</p>
  <p>You'll be asked to login again.</p>
  <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> Manage billing</a>
{{/if}}
