{{#if session.billing.isTrial }}
  <h2>
  {{#if session.billing.endTrialIsLastDay}}
   This is the last day of your trial
  {{else}}
    You have {{session.billing.endTrialDays}} trial days left
  {{/if}}
  </h2>
  <p>All Webhook sites start as 14-day free trials. To continue service and allow for custom domains you'll need to upgrade to a paid account.</p>
  <p>You'll be asked to login again.</p>
  <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> Upgrade now</a>
{{/if}}
{{#if session.billing.isPaid }}
  <h2>Thanks for your business!</h2>
  <p>Your site is an active account. If you need to change your billing information or cancel your subscription, click on over to our billing portal.</p>
  <p>You'll be asked to login again.</p>
  <a {{bind-attr href=session.billing.url}} class="btn btn-neutral icon icon-credit"> Manage billing</a>
{{/if}}
