<h1>Credit card</h1>

<form class="wy-form-aligned">
  <div class="wy-control-group wy-control-group-no-input">
    <label>Card number</label>
    <div class="wy-control">
      ************3516
    </div>
  </div>
  <div class="wy-control-group wy-control-group-no-input">
    <label>Expiration date</label>
    <div class="wy-control">
      06/15
    </div>
  </div>
  <div class="wy-btn-group">
    <button class="btn btn-neutral fa fa-credit-card"> Change card on file</button>
  </div>
</form>

<hr/>

<h1>Payment history</h1>

<div class="wy-alert wy-alert-info">
  <div class="wy-alert-title">Next billing</div>
  Your next scheduled billing will be on 02/27/2014 for USD $20.00
</div>

<table class="wy-table wy-table-bordered-rows full-width">
  <thead>
    <tr>
      <th>Date</th>
      <th>Service</th>
      <th>Charge</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January 27 2014</td>
      <td>Hosting</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>January 27 2014</td>
      <td>Hosting</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>January 27 2014</td>
      <td>Hosting</td>
      <td>$20.00</td>
    </tr>
    <tr>
      <td>January 27 2014</td>
      <td>Hosting</td>
      <td>$20.00</td>
    </tr>
  </tbody>
</table>

