<h1>Backups</h1>

<div class="wy-alert wy-alert-warning">
  <div class="wy-alert-title">Hey alpha testers!</div>
  <p>
    This page is super basic right now. You can download your site's data
    as a JSON file, but we plan to add automatic historical backups as
    well. This is alpha software, so if you're working on something
    important, it might be a good idea to download a backup every
    once in awhile
  </p>
</div>


<div class="wy-btn-group">
  <button class="btn btn-neutral icon icon-download" {{action "download"}}> JSON data</button>
</div>


