<h1>Backups</h1>

<div class="wy-alert wy-alert-warning">
  <div class="wy-alert-title">Hey alpha testers!</div>
  <p>
    This page is bogardus. You'll be able to download an immediate
    copy of your site's data in JSON format, which is easy, and then we'll also auto back it up for
    the last seven, which is harder.
  </p>
</div>


<p>
  We keep a nightly data backup in JSON of your site from the past seven days.
  You can also download the latest copy of your templates and static files and
  your latest generated build in .zip file form.
</p>

<div class="wy-btn-group">
  <button class="btn btn-neutral icon icon-download"> JSON data</button>
  <button class="btn btn-neutral icon icon-download"> Templates and files</button>
  <button class="btn btn-neutral icon icon-download"> Latest site build</button>
</div>

<hr/>

<h1>Build History</h1>
  <p>
    Each time your save content we trigger a build to build the site. Below are the last
    actions that triggered site builds.
  </p>
<table class="wy-table wy-table-bordered-rows full-width">
  <thead>
    <tr>
      <th>Action</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Saved Article: <a href="">Some article</a></td>
      <td>01/27/2014</td>
      <td>3:30pm</td>
    </tr>
    <tr>
      <td>Saved Article: <a href="">Some article</a></td>
      <td>01/27/2014</td>
      <td>3:30pm</td>
    </tr>
    <tr>
      <td>Saved Article: <a href="">Some article</a></td>
      <td>01/27/2014</td>
      <td>3:30pm</td>
    </tr>
    <tr>
      <td>Saved Article: <a href="">Some article</a></td>
      <td>01/27/2014</td>
      <td>3:30pm</td>
    </tr>
    <tr>
      <td>Saved Article: <a href="">Some article</a></td>
      <td>01/27/2014</td>
      <td>3:30pm</td>
    </tr>
  </thead>
</table>
