<h1>Domains</h1>

<p>
  Your site is currently available at
  {{buildEnvironment.siteName}}.webhook.com
</p>

<hr/>

<h2>Want to use a custom domain?</h2>

<div class="wy-alert wy-alert-warning">
  <div class="wy-alert-title">Hey alpha testers!</div>
  <p>
    We're still thinking up the best way to do this. Might be a reverse proxy, might have you authenticate through
    Google (where the buckets actually live). For now, just ping one of us and we can get your domain pointed over.
  </p>
</div>
