<h1>Domains</h1>

<p>
  Your site is currently available at <a href="">sitename.webhook.com</a>
</p>

<h2>Want to use a custom domain?</h2>

<p>
  You'll need to upgrade to our paid plan to make use of custom domains.
</p>

<a href="" class="btn btn-neutral fa fa-level-up"> Upgrade now</a>
