<section class="wh-content-edit">
  <h1>General settings</h1>
  <hr/>

  <form class="wy-form-stacked">
    <div class="wy-control-group">
      <label></label>
      <div class="wy-control">
        <input type="text" />
      </div>
    </div>
  </form>
</section>
