<section class="wh-content-edit">
  <h1>General settings</h1>
  <hr/>

  <div class="wy-alert wy-alert-warning">
    <div class="wy-alert-title">Hey alpha testers!</div>
    <p>
      This page is bogardus. We plan on using it to define your site's title, favicon and allow you to set custom
      css to white label the CMS if you wish.
    </p>
  </div>

</section>
