<section class="wh-content-edit">
  <h1>General settings</h1>
  <hr>

  <p>These are global values used in your front end templates.</p>

  <form {{action "saveSettings" on="submit"}}>
    <fieldset>
      <div class="wy-control-group">
        <label>Site name</label>
        <div class="wy-control">
          {{input value=model.siteName disabled=model.isSaving}}
        </div>
      </div>
      <div class="wy-control-group">
        <label>Site URL</label>
        <div class="wy-control">
          {{input value=model.siteUrl disabled=model.isSaving}}
        </div>
        <span class="wy-form-message">Please use full URL like http://www.example.com.</span>
      </div>
      <button type="submit" class="btn btn-neutral icon icon-ok-sign" {{bind-attr disabled=model.isSaving}}> Save</button>
    </fieldset>
  </form>

</section>
