<td class="wh-tabular-input">{{input value=view.content.pattern}}</td>
<td class="wh-tabular-input">{{input value=view.content.destination}}</td>
<td><button class="btn btn-link icon icon-remove-sign" {{action 'removeRedirect' view.content}}></button></td>
