<section class="wh-content-head">
  Set up URL redirects
</section>

<section class="wh-content-edit">
  <div class="wy-alert">
    <div class="wy-alert-title">Instructions</div>
    <p>
      This page allows you to set up permanent 301 redirects
      for URLs on your site using <a href="http://nginx.org/en/docs/http/ngx_http_rewrite_module.html#rewrite">Nginx syntax</a>.
      It follows the following basic rules:
    </p>
    <ul class="wy-plain-list-disc">
      <li>It only works on Webhook sites using custom domains, not the webhook.org domains.</li>
      <li>Any redirects set here will trump any URL handling you are managing in the CMS or through your directory structure.</li>
    </ul>
  </div>

  {{#unless domain}}
    <div class="wy-alert wy-alert-warning">
      <div class="wy-alert-title">No custom domain</div>
      <p>Redirect rules only work if you have a custom domain set up. {{#link-to 'wh.settings.domain'}}Configure your domain.{{/link-to}}</p>
    </div>
  {{/unless}}

  <table class="wy-table wy-table-bordered-all wy-table-striped wh-table-tabular">
    <thead>
      <tr>
        <th></th>
        <th>Redirect URL</th>
        <th>Destination URL</th>
        <th></th>
      </tr>
    </thead>
    {{view 'sortable-redirect-rules' content=arrangedContent}}
  </table>

  <button class="btn btn-link btn-small icon icon-plus-sign" {{action 'addRedirect'}}> Add a row</button>

  <hr/>

  <button class="btn btn-success icon icon-ok-sign" {{action 'saveRedirects'}} {{ bind-attr disabled=isSaveDisabled }}> Save</button>

</section>
