<ul class="wy-tray-container on">
  {{#each notifications}}
    <li {{bind-attr class="className extraClassName state"}} style="display: block;">
      <span {{bind-attr class="iconClass"}}> {{message}}</span>
    </li>
  {{/each}}
</ul>

<div class="wh-server-down">
  <div class="wh-server-down-content">
    <h1>Restart your runserver, then refresh</h1>
    <p><a href="/cms/" target="_blank">Or just click here when you've restarted</a></p>
    <p>
      Your local runserver died most likely because of a template error in your frontend code. Unfortunately, this
      means that saves you make in the current tab will not regererate the site until you refresh this page AFTER
      you've restarted your runserver. It's a shitty bug, and we're fixing it. For now, bear with us.
    </p>

    <p>
      <a href="">You can dismiss this notice</a>. The CMS still works, it just won't regenerate the site until you get
      the runserver running again, so feel
      free to make any saves before you refresh.
    </p>
  </div>

</div>

{{outlet}}
