<ul class="wy-tray-container on">
  {{#each notifications}}
    <li {{bind-attr class="className extraClassName state"}} style="display: block;">
      <span {{bind-attr class="iconClass"}}> {{message}}</span>
    </li>
  {{/each}}
</ul>

{{outlet}}
