<div class="wy-body-for-nav">
  <div class="wy-grid-for-nav">

    {{ partial "content/nav" }}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
        <a href="">Webhook</a>
      </nav>


      <!-- PAGE CONTENT -->
      <div class="wy-nav-content">

        {{#link-to "content-type-test"}}all content types{{/link-to}}
        |
        {{#link-to "content-type-test.create"}}create content type{{/link-to}}

        {{ outlet }}

      </div>

    </section>

  </div>
</div>
