<div class="wh-login">
  <img src="http://cms.webhook.com/v1/assets/images/robot.png"/>
  <h3>Site no longer active</h3>
  <p>Your site's trial ended or you ended service. Want us to ramp everything back up for you?</p>
  <a {{bind-attr href=session.billing.url}} class="btn btn-neutral btn-small icon icon-credit"> Manage your billing here</a>
  <a href="mailto:support@webhook.com" class="btn btn-small btn-link">Contact support</a>
</div>
