<div class="wh-login">
  <div {{bind-attr class=":wh-logo isIndexing:wh-logo-spinner"}}></div>
  <p>Importing can take several minutes while we add your content to the CMS search engine. Please do not close your browser until complete.</p>
  <ul class="wh-wp-import">
    {{#each contentType in arrangedContent}}
      <li {{bind-attr class="contentType.indexingClass"}}>
        {{#if contentType.isIndexing}}<span class="wy-spinner wy-spinner-small wy-spinner-inline"></span>{{/if}}
        {{contentType.name}} {{#if contentType.isIndexing}}{{contentType.indexingPercent}}%{{/if}}
      </li>
    {{/each}}
  </ul>
  {{#unless isIndexing}}{{#link-to 'wh.settings.data' class="btn btn-success icon icon-ok-sign"}} Complete. Return to CMS.{{/link-to}}{{/unless}}
</div>
