<div class="wh-login">
  <div class="wh-logo"></div>

  <p>This page should load one of two things.</p>
  <ul class="wy-plain-list-disc">
    <li>If no content-types exist: {{#link-to 'start'}}The start page{{/link-to}}</li>
    <li>If they do exist: an analytics dashboard (need to design)</li>
  </ul>

  <p>{{#link-to 'wh.content.all-types'}}Lazy link to cms for Ian{{/link-to}}</p>
</div>
