<div class="wh-login">
  <div class="wh-logo"></div>
  <form class="wy-form-stacked">
    <div class="wy-control-group fluid-input">
      <label>Email</label>
      <div class="wy-control">
        <input type="email"/>
      </div>
    </div>
    <div class="wy-control-group fluid-input">
      <label>Password</label>
      <div class="wy-control">
        <input type="password" />
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn icon icon-ok-sign"> Sign in</button>
      {{#link-to 'password-reset' classNames='btn btn-small btn-link'}}Forgot password?{{/link-to}}
    </div>
  </form>
</div>
