<div class="wh-login">
  <div class="wh-logo"></div>
  <form class="wy-form-stacked">
    <div class="wy-control-group fluid-input">
      <label>Change password for</label>
      <div class="wy-control">
        dave.snider@gmail.com
      </div>
    </div>
    <div class="wy-control-group wy-control-group-required fluid-input">
      <label>Old password</label>
      <div class="wy-control">
        <input type="password" />
      </div>
    </div>
    <div class="wy-control-group wy-control-group-required fluid-input">
      <label>New password</label>
      <div class="wy-control">
        <input type="password" />
      </div>
    </div>
    <div class="wy-control-group wy-control-group-required fluid-input">
      <label>New password (repeat)</label>
      <div class="wy-control">
        <input type="password" />
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn fa fa-check-circle"> Sign in</button>
      {{#link-to 'wh.content' classNames='btn btn-small btn-link'}}Cancel{{/link-to}}
    </div>
  </form>
</div>

