<div class="wh-login">
  <div class="wh-logo"></div>
  <div class="wy-alert wy-alert-info">
    Provide your email to reset your password.
  </div>
  <form class="wy-form-stacked">
    <div class="wy-control-group fluid-input">
      <label>Email</label>
      <div class="wy-control">
        <input type="email"/>
      </div>
    </div>
    <div class="wy-btn-group">
      <button class="btn fa fa-refresh"> Reset password</button>
      {{#link-to 'login' classNames='btn btn-small btn-link'}}Take me back to login{{/link-to}}
    </div>
  </form>
</div>

