<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>How should we set up your site?</h1>
  <section>
    <center>{{#link-to 'theme' class="btn btn-neutral fa fa-location-arrow"}} Start from a template{{/link-to}}</center>
    <hr/>
    <p>
      Pick one of our pre-built sites that follow common
      CMS and design patterns.
    </p>
    <p>
      Example: A blog site, a podcast site.
    </p>
  </section>
  <section class="wh-start-or">
    Or
  </section>
  <section>
    <center><button class="btn btn-neutral fa fa-leaf"> Start from scratch</button></center>
    <hr/>
    <p>
      Use the formbuilder to build an awesome website
      about Dragons or something awesome like that.
    </p>
    <p>It's still super easy, but now you have dragons.</p>
  </section>
</div>
