<div class="wh-start">
  <h1>How should we set up your site?</h1>
  <a href="">
    <h4>Start from a template</h4>
    <hr/>
    <p>
      Pick one of our pre-built sites that follow common
      CMS and design patterns.
    </p>
    <p>
      Example: A blog site, a podcast site.
    </p>
  </a>
  <a href="" class="custom">
    <h4>Start from scratch</h4>
    <hr/>
    <p>
      Use the formbuilder to build an awesome website
      about Dragons or something awesome like that.
    </p>
    <p>It's still super easy, but now you have dragons.</p>
  </a>
</div>
