<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>How should we set up your site?</h1>
  <section>
    <center>
      <h4>Me code? Maybe later.</h4>
      <img src="http://cms.webhook.com/v1/assets/images/robot.png"/>
      {{#link-to 'theme' class="btn btn-neutral icon icon-rocket"}} Start from a theme{{/link-to}}
    </center>
    <hr/>
    <p>
      Pick one of our pre-built sites that follow common
      CMS and design patterns. Customize later.
    </p>
    <p>
      Example: A blog site, a portfolio site.
    </p>
  </section>
  <section class="wh-start-or">
    Or
  </section>
  <section>
    <center>
      <h4>I know html/css!</h4>
      <img src="http://cms.webhook.com/v1/assets/images/dragon.png"/>
      {{#link-to 'wh.content.all-types' class="btn btn-neutral icon icon-leaf"}} Start from scratch{{/link-to}}
    </center>
    <hr/>
    <p>
      Use the formbuilder to build a website
      about Dragons or something awesome like that.
    </p>
    <p>You code the design, but now you get dragons.</p>
  </section>
</div>
