<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>How should we set up your site?</h1>

  <section>
    <center>
      <h4>Show me some magic.</h4>
      <img src="http://cms.webhook.com/v1/assets/images/wizard.png"/>
      <a href="#" class="btn btn-neutral icon icon-rocket btn-disabled"  data-toggle="tooltip"  data-placement="right"  title="Using themes is disabled in the demo."> Start from a theme</a>
    </center>
    <hr/>
    <p>
      Pick one of our pre-built sites that follow common
      CMS and design patterns. Customize later.
    </p>
    <p>
      Example: A blog site, a portfolio site.
    </p>
  </section>
  <section class="wh-start-or">
    Or
  </section>
  <section>
    <center>
      <h4>I am the magic!</h4>
      <img src="http://cms.webhook.com/v1/assets/images/dragon.png"/>
      {{#link-to 'wh.content.all-types' class="btn btn-neutral icon icon-leaf"}} Start from scratch{{/link-to}}
    </center>
    <hr/>
    <p>
      Use the formbuilder to set up a custom CMS with
      page types that you define.
    </p>
    <p>You'll need to code your design in HTML / CSS.</p>
  </section>
</div>
