<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>Start from a theme</h1>
  <p class="wh-themes-desc">
    Site templates automatically install the forms and templates needed to jump start your project.
    Can't find what you're looking for? You can still {{#link-to 'start'}}Start from scratch{{/link-to}}.
  </p>
  <ul class="wh-themes">
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm01_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm02_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm03_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm04_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm05_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
  </ul>
</div>

