<div class="wh-start">
  <div class="wh-logo"></div>
  <h1>Select a pre-built site</h1>
  <ul class="wh-themes">
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm01_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm02_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm03_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm04_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <h5>Theme name</h5>
        <img src="/assets/images/hm05_wide.jpg" />
        <p>
          This theme is super awesome.
        </p>
      </a>
    </li>
  </ul>
</div>

