<div class="wy-grid-for-nav">

  {{partial "wh/nav"}}

  <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

    <!-- MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE -->
    <nav class="wy-nav-top">
      <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
      <a href="">Webhook</a>
    </nav>

    {{#if buildEnvironment.local}}
      <div class="wh-local-notice">
        <span class="wh-local-notice-text">
          <span class="wh-local-notice-environment icon icon-code"> Local development</span> Saves here will only trigger builds locally.
          When ready
          <a {{action 'deploy'}} {{bind-attr disabled=buildEnvironment.deploying}}>
            {{#if buildEnvironment.deploying}}<span class="wy-spinner wy-spinner-inline wy-spinner-small"></span>{{/if}}
            deploy your code
          </a>
          to push this site live.
        </span>
      </div>
    {{/if}}

    <!-- PAGE CONTENT -->
    <div class="wy-nav-content">
      {{outlet}}
    </div>

  </section>

</div>
